[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = pharmacy
[access "refs/*"]
	owner = group user/ghoshark
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ghoshark
	label-Verified = -1..+1 group user/ghoshark
	push = group user/ghoshark
	read = group user/ghoshark
	rebase = group user/ghoshark
	removeReviewer = group user/ghoshark
	submit = group user/ghoshark
[access "refs/heads/*"]
	create = group user/ghoshark
	push = +force group user/ghoshark
	pushMerge = group user/ghoshark
	read = group user/ghoshark
[access "refs/tags/*"]
	push = group user/ghoshark
	push = +force group user/ghoshark
